<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<section>
  <link rel="stylesheet" href="/css/admin/event/list/index.css"/>
</section>

<main class="admin-event-container">
  <p>이벤트 수정</p>

  <!--<div class="admin-event-item-container">
    <div class="admin-event-item" th:each="event : ${eventList}">
      <p th:text="${event.title}"></p>
      <p th:text="${event.description}"></p>
      <a href="#">이벤트 수정</a>
      <a href="#">이벤트 삭제</a>
    </div>

    <div th:if="${eventList.isEmpty()}">
      <p>등록된 이벤트가 없습니다.</p>
    </div>

    &lt;!&ndash; pagination &ndash;&gt;
    <section th:replace="fragment/fragment.html :: pagination"></section>
  </div>-->
</main>

<script type="application/javascript">
  window.addEventListener("DOMContentLoaded", () => {

  });
</script>
</html>
