<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment/fragment.html :: imports"></div>
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css"/>
    <link rel="stylesheet" href="/css/profile-bar.css"/>
    <link rel="stylesheet" href="/css/profile-settings.css"/>
    <link rel="stylesheet" href="/css/create-learning.css"/>
</head>

<body class="container">
    <div th:replace="fragment/navbar/navbar.html :: navbar"></div>

    <div class="d-flex">
        <div th:replace="fragment/fragment.html :: profile-bar"></div>

        <div class="col-md-10 mt-md-5">
            <div class="col alert alert-info alert-dismissible fade show mt-3 alert-custom message-content" role="alert" th:if="${message}">
                <p th:text="${message}">flush message</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-12 mb-2">
                <div style="opacity: 0.7; font-size: 13px">업로더/강의 개설</div>
                <span style="font-size: 17px; font-weight: bold">업로더/강의 개설</span>
            </div>

            <div class="col d-flex justify-content-start">
                <div class="tab-content d-flex justify-content-start">
                    <div class="profile-body tab-pane active profile-content-body" id="profile" role="tabpanel">
                        <div class="align-items-center profile-content d-flex justify-content-center">
                            <form class="needs-validation justify-content-start profile-content-input" action="#" method="post" id="form-data" novalidate
                                  th:action="@{'/profile/learning/create'}" th:object="${learningFormVO}">

                                <div class="card-body form-group mt-lg-4">
                                    <label for="title">강의 제목</label>
                                    <input type="text" class="form-control" id="title" required minlength="2" maxlength="255" th:field="*{title}" >
                                    <small class="invalid-feedback">강의명을 입력해주세요</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">강의명 미입력</small>
                                </div>

                                <div class="card-body form-group mt-lg-4">
                                    <label for="price">가격</label>
                                    <input type="text" class="form-control" id="price" required minlength="0" maxlength="20" th:field="*{price}" >
                                    <small class="priceHelp">0원으로 설정하시면 무료 강의로 설정됩니다.</small>
                                </div>

                                <div class="card-body form-group mt-lg-4">
                                    <label for="lecturerName">업로더 이름</label>
                                    <input type="text" class="form-control" id="lecturerName" required minlength="2" maxlength="20" th:field="*{lecturerName}" >
                                    <small class="invalid-feedback">이름을 입력해주세요</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('lecturerName')}" th:errors="*{lecturerName}">강의자 이름 미입력</small>
                                </div>

                                <div class="card-body form-group mt-lg-4">
                                    <label for="summernote_lecturerDescription">업로더 설명</label>
                                    <textarea id="summernote_lecturerDescription" class="summernote" type="textarea" required th:field="*{lecturerDescription}"> </textarea>
                                </div>

                                <div class="mt-lg-4 form-group">
                                    <label for="summernote_simplesubscription">강의 간략 소개</label>
                                    <textarea id="summernote_simplesubscription" class="summernote" type="textarea" required th:field="*{simplesubscription}"> </textarea>
                                </div>

                                <div class="mt-lg-4 form-group">
                                    <label for="summernote_subscription">강의소개</label>
                                    <textarea id="summernote_subscription" class="summernote" type="textarea" required th:field="*{subscription}"> </textarea>
                                </div>

                                <div class="form-group card-body mb-3 mt-3">
                                    <label for="kategorie">카테고리</label>
                                    <select class="custom-select form-control" id="kategorie" th:field="*{kategorie}">
                                        <option selected value="1">Web</option>
                                        <option value="2">algorithm</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-success mt-md-3 mb-md-3">저장하기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--profile main data - body-->
            </div>
            <!--profile main data-->
        </div>
        <!--profile body-->
    </div>
    <!--page body-->

    <div th:replace="fragment/footer/footer.html :: footer"></div>
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $("#summernote_subscription").summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
            placeholder: '강의에 대한 설명을 반드시 입력해주세요.',
            tabSize: 2,
            lang: "ko-KR",
            height: 220,
            minHeight: 450,
            maxHeight: 450,
            focus: true
        });
    </script>

    <script type="application/javascript">
        $("#summernote_simplesubscription").summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
            placeholder: '강의 제공자에 대한 설명을 입력해주세요.',
            tabSize: 2,
            lang: "ko-KR",
            height: 100,
            minHeight: 200,
            maxHeight: 250,
            focus: true
        });
    </script>

    <script type="application/javascript">
        $("#summernote_lecturerDescription").summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
            placeholder: '강의 제공자에 대한 설명을 입력해주세요.',
            tabSize: 2,
            lang: "ko-KR",
            height: 150,
            minHeight: 200,
            maxHeight: 250,
            focus: true
        });
    </script>
    <div th:replace="fragment/fragment.html :: form-validation"></div>
</body>

</html>