<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment.html :: links"></div>
    <link rel="stylesheet" href="/css/profile-bar.css"/>
    <link rel="stylesheet" href="/css/profile-settings.css"/>
    <link rel="stylesheet" href="/css/create-learning.css"/>
    <link rel="stylesheet" href="/css/learning-list.css"/>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
</head>

<body class="container">
    <div th:replace="fragment.html :: navbar"></div>

    <div class="d-flex">
        <div th:replace="fragment.html :: profile-bar"></div>

        <div class="col-md-10 mt-md-5">
            <div class="col-md-12 mb-2">
                <div style="opacity: 0.7; font-size: 13px">업로더/강의 업로드</div>
                <span style="font-size: 17px; font-weight: bold">업로더/강의 업로드</span>
            </div>

            <div class="col d-flex justify-content-start">
                <div class="tab-content d-flex justify-content-start">
                    <div class="profile-body tab-pane active profile-content-body" id="profile" role="tabpanel" th:if="${learningList.size() > 0}">
                        <h5 class="mt-md-3 mb-md-3">영상을 업로드 할 강의를 선택해주세요.</h5>
                        <div class="accordion" id="accordionExample">
                            <div th:each="learning : ${learningList}">
                                <div class="list-group-item list-group-item-action list-header upload-list" id="headingOne">
                                    <h2 class="m-0 d-flex justify-content-between">
                                        <button class="btn btn-block text-left list-btn upload-btn" type="button" data-toggle="collapse" th:data-target="'#collapse' + ${learning.id}"
                                                aria-expanded="true" aria-controls="collapseOne" th:text="${learning.title}">
                                            default title
                                        </button>
                                        <span class="date-time upload-date-time d-flex align-items-center" th:text="${learning.createLearning}">14</span>
                                    </h2>
                                </div>
                                <div th:id="'collapse' + ${learning.id}" class="collapse" aria-labelledby="headingOne">
                                    <form class="m-0" action="#" th:action="@{'/profile/learning/upload/' + ${learning.id}}" method="get">
                                        <div class="d-flex justify-content-between list-group-item list-group-item-action upload-div">
                                            <button class="list-group-item list-group-item-action upload-btn-inner d-flex justify-content-between align-items-center" type="submit">
                                                영상 업로드
                                                <span class="date-time upload-date-time upload-date-time-inner" th:text="${learning.uploadVideo}"
                                                      th:classappend="${learning.checkUploadLearning()}? display-none">14</span>
                                            </button>
                                        </div>
                                    </form>
                                    <form class="m-0" action="#" th:action="@{'/profile/learning/update/' + ${learning.id}}" method="get">
                                        <div class="d-flex justify-content-between list-group-item list-group-item-action upload-div">
                                            <button class="list-group-item list-group-item-action upload-btn-inner d-flex justify-content-between align-items-center" type="submit">
                                                강의 편집하기
                                                <span class="date-time upload-date-time upload-date-time-inner" th:text="${learning.updateLearning}"
                                                      th:classappend="${learning.checkUpdateLearning()}? display-none">14</span>
                                            </button>
                                        </div>
                                    </form>
                                    <form class="m-0" action="#" th:action="@{'/learning/' + ${learning.id}}" method="get">
                                        <div class="d-flex justify-content-between list-group-item list-group-item-action upload-div">
                                            <button class="list-group-item list-group-item-action upload-btn-inner d-flex justify-content-between align-items-center" type="submit">
                                                강의 바로가기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-body tab-pane active profile-content-body" th:if="${learningList.size() <= 0}">
                        <p>등록하신 강의가 존재하지 않습니다.</p>
                    </div>
                </div>
                <!--profile main data - body-->
            </div>
            <!--profile main data-->
        </div>
        <!--profile body-->
    </div>
    <!--page body-->

    <div th:replace="fragment.html :: footer"></div>
    <script type="application/javascript">
        moment.locale('ko');
        $(".date-time").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LLL");
        })
    </script>
</body>

</html>