<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>listen</title>
    <div th:replace="fragment.html :: imports"></div>
    <link rel="stylesheet" href="/css/listen_learning.css"/>
</head>

<body class="container">
<div th:replace="fragment.html :: navbar"></div>

<div class="d-flex mt-3">
    <div class="col-3">
        <ul class="list-group">
            <li class="list-group-item p-1" th:each="content : ${contentsList}" th:classappend="${content.equals(now)}? active">
                <a href="#" th:href="@{'/learning/listen/' + ${learning.id} + '/' + ${content.substring(0, 5)}}">
                    <p class="content-title" th:text="${content}"></p>
                </a>
            </li>
        </ul>
        <div class="d-flex justify-content-center mt-4">token_validation.html
            <button class="btn btn-success pl-4 pr-4 pt-2 pb-2" type="button" onclick="showPopupQuestion()">강의 질문하기</button>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-success pl-4 pr-4 pt-2 pb-2" type="button" onclick="showPopupReview()">강의 평가 작성하기</button>
        </div>
    </div>

    <div class="d-flex flex-column mt-3 col-9 ml-2">
        <label class="video-title" for="movie" th:text="${learning.title} + '/' + ${now}"></label>

        <video class="video-body" controls width="720" height="480" id="movie" controlsList="nodownload">
            <source th:src="${videoPath}" src="#" type="video/mp4">
        </video>

    </div>
    <!--대시보드 div-->
</div>
<!--list & 대시보드-->
<div style="height: 100px"></div>
<div class="mt-5" th:replace="fragment.html :: footer"></div>
<script type="application/javascript">
    window.name = "listenPage";

    $(document).ready(function(){
        $('.video-body').bind('contextmenu',function() { return false; });
    });
    
    function showPopupReview() {
        var popupX = (window.screen.width / 2) - (400 / 2);
        var popupY= (window.screen.height /2) - (500 / 2);
        window.open("/review/" + [[${learning.id}]], "review", `width=1100, height=700, left=${popupX},screenX=${popupX}, top=${popupX}, screenY=${popupY} `);
    }

    function showPopupQuestion() {
        var popupX = (window.screen.width / 2) - (400 / 2);
        var popupY= (window.screen.height /2) - (500 / 2);
        window.open("/question/" + [[${learning.id}]], "question", `width=1100, height=700, left=${popupX},screenX=${popupX}, top=${popupX}, screenY=${popupY} `);
    }
</script>
</body>
</html>