<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment.html :: imports"></div>
    <link rel="stylesheet" href="/css/program.css"/>
</head>

<body class="container">
    <header th:replace="fragment.html :: navbar"></header>

    <main class="d-flex">
        <div class="accordion-list col-sm-2 mt-lg-5">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header">
                        <h2 class="m-0">
                            <a href="#" th:href="@{/all}">
                                <button class="btn btn-block text-left" type="button">
                                    모든 강의
                                </button>
                            </a>
                        </h2>
                    </div>

                    <div class="card-header" id="headingOne">
                        <h2 class="m-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                웹 개발
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                        <a href="#" th:href="@{/web/all}">
                            <div class="card-body div-bottom-line">
                                All
                            </div>
                        </a>
                        <a href="#" th:href="@{'/web/java?keyword=java&sort=openLearning'}">
                            <div class="card-body div-bottom-line">
                                Java
                            </div>
                        </a>
                        <a href="#" th:href="@{'/web/javascript?keyword=javascript&sort=openLearning'}">
                            <div class="card-body div-bottom-line">
                                Javascript
                            </div>
                        </a>
                        <a href="#" th:href="@{'/web/html?keyword=html&sort=openLearning'}">
                            <div class="card-body div-bottom-line">
                                CSS HTML
                            </div>
                        </a>
                    </div>
                    <div class="card-header" id="headingTwo">
                        <h2 class="m-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                알고리즘
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                        <a href="#" th:href="@{/algorithm/all}">
                            <div class="card-body div-bottom-line">
                                All
                            </div>
                        </a>
                        <a href="#" th:href="@{'/algorithm/gof?keyword=gof&sort=openLearning'}">
                            <div class="card-body div-bottom-line">
                                GOF 디자인 패턴
                            </div>
                        </a>
                        <a href="#" th:href="@{'/algorithm/algorithm?keyword=algorithm&sort=openLearning'}">
                            <div class="card-body">
                                알고리즘
                            </div>
                        </a>
                    </div>
                </div>
                <!--accordion List bar-->
            </div>
        </div>
        <!--accordion start-->

        <div class="col-sm-11 mt-lg-5 inner-container">
            <header class="">
                <form class="d-flex justify-content-end input-group" action="#" th:action="@{/search/learning}" method="get">
                    <input type="text" class="form-control search_wrapper_input search-bar" placeholder="강의 검색하기"
                           aria-label="Recipient's username" aria-describedby="button-addon2" name="keyword">
                    <span class="input-group-append">
                    <button class="btn btn-success search_wrapper_btn search-button" type="submit" id="button-addon2">검색</button>
                    </span>
                </form>
                <hr class="void-line"/>

                <div class="header-nav row d-flex justify-content-between">
                    <nav class="navbar navbar-expand-lg header-nav-navbar">
                        <div class="collapse navbar-collapse" >
                            <ul class="navbar-nav">
                                <li class="nav-item active" th:each="path : ${pathLink}">
                                    <a class="nav-link" href="#">
                                        <span class="path-link" th:text="${path}">
                                            default path
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="list-viewer d-flex align-content-center">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-info active list-viewer-icon">
                                <input type="radio" name="options" id="option1" >
                                <i class="fas fa-list-ul"></i>
                            </label>
                            <label class="btn btn-info list-viewer-icon">
                                <input type="radio" name="options" id="option2" checked>
                                <i class="fas fa-th"></i>
                            </label>
                        </div>
                        <div class="btn-group list-selector">
                            <button type="button" class="btn btn-info dropdown-toggle list-selector-button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">정렬</button>
                            <div class="dropdown-menu" style="min-width: 6rem">
                                <a class="dropdown-item" href="#" th:classappend="${#strings.equalsIgnoreCase(sortProperty, 'rating')}? active"
                                   th:href="@{${url}+'?sort=rating,desc&keyword=' + ${keyword}}">
                                    평점순
                                </a>
                                <a class="dropdown-item" href="#" th:classappend="${#strings.equalsIgnoreCase(sortProperty, 'openLearning')}? active"
                                   th:href="@{${url}+'?sort=openLearning,desc&keyword=' + ${keyword}}">
                                    최신순
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main class="row mt-md-3">
                <div class="col-md-3 roof-start" th:each="learning : ${learningList.getContent()}">
                    <a href="#" th:href="@{'/learning/' + ${learning.id}}">
                        <div class="card mb-4 shadow-sm card-view">
                            <img class="bd-placeholder-img card-img-top card-img" role="img" aria-label="Placeholder: Thumbnail"
                                 th:src="|data:image/*;base64,${learning.bannerBytes}|" th:if="${learning.bannerBytes} != null"/>
                            <img class="banner-image card-img" src="/images/rogo.png" th:if="${learning.bannerBytes} == null"/>
                            <div class="card-body">
                                <p class="card-text card-title" th:text="${learning.title}">Default Title</p>
                                <p class="card-text" id="card-tags">
                                    <i class="fas fa-tasks"></i>
                                    <span class="card-tag-box" th:each="tag : ${learning.tags}">
                                        <span th:text="${tag.getTitle()}"></span>
                                    </span>
                                </p>
                                <span class="card-text card-learning-rating" th:text="${learning.rating}" hidden="hidden">Default Ratings hidden</span>
                                <p class="mb-1">
                                    <span class="full-star star" th:each="num : ${#numbers.sequence(0, learning.getRating_int() - 1)}" th:if="${learning.getRating_int() > 0}"><i class="fas fa-star"></i></span><span class="half-star star" th:if="${learning.checkRating_boolean()}"><i class="fas fa-star-half-alt"></i></span><span class="empty-star star" th:each="num : ${#numbers.sequence(1, learning.emptyRating())}" th:if="${learning.emptyRating() > 0}"><i class="far fa-star"></i></span>
                                    (<span th:text="${learning.rating}"></span>)
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${!learning.price_comma().equals('free')}"><span class="card-price" th:text="${learning.price_comma()}"></span>원</div>
                                    <div th:if="${learning.price_comma().equals('free')}"><span class="card-price"></span>무료 강의</div>
                                    <div class="date-time" th:text="${learning.openLearning}"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </main>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!learningList.hasPrevious()}? disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                           th:href="@{${url}+'?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + '&page=' + ${learningList.getNumber() - 1}}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:each="num : ${#numbers.sequence(0, learningList.getTotalPages() -1)}"
                        th:classappend="${num == learningList.getNumber()}? active">
                        <a class="page-link" th:href="@{${url}+'?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + '&page=' + ${num}}"
                           href="#" th:text="${num + 1}">1</a>
                    </li>
                    <li class="page-item" th:class="${!learningList.hasNext()}? disabled">
                        <a class="page-link" href="#"
                           th:href="@{${url}+'?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + '&page=' + ${learningList.getNumber() + 1}}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
            <!--page nation-->
        </div>
    </main>

<footer th:replace="fragment.html :: footer"></footer>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        moment.locale('ko');
        $(".date-time").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LL");
        })
    </script>
    <script type="application/javascript">
        const price = $(".card-price").text();
        price.slice();
    </script>
</body>

</html>