.register-success-container {
    width: 100%;
    min-height: calc(100vh - 60px - 180px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-success-toast-message-container {
    position: fixed;
    top: 52px;
    left: calc(50% - 137px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register-success-toast-message {
    max-height: 72px;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: .75rem 1.25rem;

    background-color: #d1ecf1;
    border-color: #bee5eb;
    border-radius: .25rem;

    color: #0c5460;
}

.register-success-toast-message p {
    margin-right: .75rem;
}

.register-success-toast-message-close-button {
    font-size: 1.25rem;
}

.register-success-form {
    width: 40rem;

    justify-content: flex-start!important;
    align-items: normal!important;
    flex-direction: column;
}

.register-success-form label {
    margin-bottom: 0.25rem;
}

.register-success-form-help-message {
    opacity: .7;
    margin-top: 0.25rem;
    line-height: 11px;
}

.register-success-form-button {
    margin-top: 1.25rem;
}

.register-success-footer {
    margin-top: 3rem;
    opacity: .7;
    text-align: center;
    font-size: 1rem;
}