<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<main class="question-list-container">
    <ul class="question-list-wrapper" id="question-list-wrapper">
        <li class="question-list-item" th:each="question : ${questionList}" th:data-question-id="${question.id}">
            <p class="question-title text-overflow" th:text="${question.title}"></p>
            <div class="question-description text-overflow-two" th:utext="${question.description}"></div>
            <p class="question-createTime" th:text="${question.questionTime}"></p>
            <p class="question-writer" th:text="${question.account.nickname}"></p>
        </li>
    </ul>

    <!-- pagination -->
    <section th:replace="layout/fragment.html :: pagination"></section>
</main>

<script type="application/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        moment.locale('ko');
        $(".question-createTime").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LLL");
        })

        document.getElementById("question-list-wrapper").addEventListener("click", e => {
            let targetEl = e.target;

            if (targetEl.classList.contains("question-list-wrapper")) {
                return false;
            }

            for (let i = 0; i < 3; i++) {
                if (!targetEl.classList.contains("question-list-item")) {
                    targetEl = targetEl.parentNode;
                }
            }

            const questionId = targetEl.dataset.questionId;

            location.href = "/question/" + questionId;
        })
    })
</script>
</html>