
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="${pageTitle}">Title</title>

    <script src="https://kit.fontawesome.com/d460620ffc.js" crossorigin="anonymous"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-form/dist/jquery.form.min.js"></script>
    <script src="/node_modules/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/tooltipster/dist/css/tooltipster.bundle.min.css"/>
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css"/>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">

    <link rel="stylesheet" href="/css/layout/common.css"/>
    <link rel="stylesheet" href="/css/layout/navbar.css"/>
    <link rel="stylesheet" href="/css/layout/footer.css"/>
    <link rel="stylesheet" href="/css/layout/pagination.css"/>
    <link rel="stylesheet" href="/css/layout/profileBar.css"/>
</head>

<body class="container">
    <!-- 상단 바 -->
    <header th:replace="layout/fragment.html :: navbar"></header>

    <!-- toast message start -->
    <div class="toast-message-container hide" id="toast-message-container">
        <div class="toast-message-wrapper">
            <p id="toast-message-context">이메일과 패스워드를 다시 입력해주세요.</p>
            <button type="button" class="toast-message-close-button" id="toast-message-close-button">
                <span>&times;</span>
            </button>
        </div>
    </div>
    <!-- toast message end -->

    <main class="profile-container">
        <!-- 프로필 바 -->
        <div class="profile-bar-container" id="profile-bar-container">
            <a th:href="@{'/profile/dashboard'}">
                <p class="profile-bar-menu">
                    대시보드
                </p>
            </a>

            <a href="/profile/notification">
                <p class="profile-bar-menu">
                    알람
                </p>
            </a>

            <a href="/profile/learning">
                <p class="profile-bar-menu">
                    내 학습
                </p>
            </a>

            <a href="/profile/setting">
                <p class="profile-bar-menu">
                    설정
                </p>
            </a>

            <div class="profile-bar-menu-accordion" id="profile-bar-menu-accordion" th:if="${account.professionalAccount != null}">
                <div>
                    <p class="profile-bar-menu-accordion-trigger">
                        업로드
                    </p>
                </div>

                <div class="profile-bar-menu-accordion-details hide" id="profile-bar-menu-accordion-details">
                    <a href='/profile/learning/create'>
                        <p class="profile-bar-menu-accordion-details-menu">
                            강의 개설
                        </p>
                    </a>

                    <a href="/profile/learning/list">
                        <p class="profile-bar-menu-accordion-details-menu">
                            강의 영상 업로드
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div th:replace="${pageContent}"></div>
    </main>

    <footer th:replace="layout/fragment.html :: footer"></footer>

    <script type="application/javascript">
        window.addEventListener("DOMContentLoaded", () => {
            // 검색 기능
            const globalSearchBarEl = document.getElementById("global-search-bar");
            globalSearchBarEl.addEventListener("submit", e => {
                const targetEl = e.target;
                const inputEl = targetEl.querySelector("input");
                const value = inputEl.value;

                if (value.length <= 0) {
                    e.preventDefault();
                    return false;
                }

                targetEl.action = '/learning/search/all?keyword=' + value;
            })

            // 프로필 바 기능
            const pathName = window.location.pathname;
            const menuEls = document.getElementById("profile-bar-container").querySelectorAll(".profile-bar-menu");
            if (pathName === "/profile/dashboard") {
                menuEls[0].classList.add("active");
            } else if (pathName === "/profile/notification") {
                menuEls[1].classList.add("active");
            } else if (pathName === "/profile/learning") {
                menuEls[2].classList.add("active");
            } else if (pathName === "/profile/setting") {
                menuEls[3].classList.add("active");
            } else if (pathName === "/profile/learning/create") {
                document.getElementById("profile-bar-container").querySelectorAll(".profile-bar-menu-accordion-details-menu")[0].classList.add("active");
                document.getElementById("profile-bar-menu-accordion-details").classList.remove("hide");
            } else if (pathName === "/profile/learning/list") {
                document.getElementById("profile-bar-container").querySelectorAll(".profile-bar-menu-accordion-details-menu")[1].classList.add("active");
                document.getElementById("profile-bar-menu-accordion-details").classList.remove("hide");
            }
        })

        // Toast Message 닫기 버튼 클릭 이벤트
        document.getElementById("toast-message-close-button")?.addEventListener("click", () => {
            document.getElementById("toast-message-container").classList.add("hide");
        });

        // 플로팅 메시지 띄우기
        function floatMessage(message) {
            document.getElementById("toast-message-context").textContent = message;
            const containerEl = document.getElementById("toast-message-container");
            containerEl.classList.remove("hide");

            // 3초 후 자동 종료
            setTimeout(() => containerEl.classList.add("hide"), 3000);
        }

        // fetch 전송
        function sendFetch(url, method, body, callback, errorCallback) {
            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            fetch(url, {
                method: method,
                body: JSON.stringify(body),
                headers: {
                    [csrfHeader]: csrfToken,
                    "Content-Type": "application/json; charset=utf-8"
                }
            }).then(res => res.text())
                .then(text => {
                    callback && callback(text);
                })
                .catch(err => {
                    errorCallback && errorCallback(err);
                    console.error(err);
                });
        }

        function hasClass(el, className) {
            if (el.classList.contains("container")) return [false, el];
            else if (el.classList.contains(className)) return [true, el];

            return hasClass(el.parentNode, className);
        }
    </script>
</body>
</html>