<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="imports">
    <script src="https://kit.fontawesome.com/d460620ffc.js" crossorigin="anonymous"></script>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-form/dist/jquery.form.min.js"></script>
    <script src="/node_modules/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/tooltipster/dist/css/tooltipster.bundle.min.css"/>

    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
</div>

<div class="row col-md-2 mt-md-5 list-group" th:fragment="profile-bar">
    <form action="#" th:action="@{'/profile/' + ${account.id}}"><button type="submit" class="list-group-item list-group-item-action">대시보드</button></form>
    <form action="#" th:action="@{'/profile/notification'}" method="get"><button type="submit" class="list-group-item list-group-item-action">알람</button></form>
    <form action="#" th:action="@{'/profile/learning'}"><button type="submit" class="list-group-item list-group-item-action">내 학습</button></form>
    <form action="#" th:action="@{'/profile/' + ${account.id} + '/custom'}" method="get"><button type="submit" class="list-group-item list-group-item-action">설정</button></form>
    <div class="accordion" id="accordionExample">
        <div>
            <div class="list-group-item list-group-item-action list-header" id="headingOne" >
                <h2 class="m-0">
                    <button class="btn btn-block text-left list-btn" th:disabled="${!account.uploader}" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapseOne" >
                        업로더
                    </button>
                </h2>
            </div>
            <div id="collapse" class="collapse" aria-labelledby="headingOne">
                <form action="#" th:action="@{'/profile/learning/create'}" method="get">
                    <button class="list-group-item list-group-item-action list-body" th:disabled="${!account.uploader}" type="submit">
                            강의 개설
                    </button>
                </form>
                <form action="#" th:action="@{'/profile/learning/list'}" method="get">
                    <button class="list-group-item list-group-item-action list-body" th:disabled="${!account.uploader}" type="submit">
                        강의 영상 업로드
                    </button>
                </form>
            </div>
        </div>
        <div style="height: 400px"></div>
    </div>
<!--    <form action="#" th:action="" method="get" ><button type="submit" class="list-group-item list-group-item-action" th:disabled="${!account.uploader}">강의 개설</button></form>-->
<!--    <form action="#" th:action="" method="get" ><button type="submit" class="list-group-item list-group-item-action" th:disabled="${!account.uploader}">강의 영상 업로드</button></form>-->
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function (){
        'use strict';

        window.addEventListener('load', function(){
            const forms = document.getElementsByClassName('needs-validation');

            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if(form.checkValidity() === false){
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false)
            })
        },false)
    }())
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="csrf-code">
    window.addEventListener("DOMContentLoaded", () => {
        // 일반적인 Form 으로 요청을 보낼 때 csrf 에러가 날 경우 토큰값을 같이 실어서 보내줌.
        // 상식적으로 동작 시킬때 중간에 가져와서 token 값을 헤더에 실어서 보내줘야할거 같은데 지금 개같이 보내는중임
        const csrfToken = /*[[${_csrf.token}]]*/ null;
        const csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

</html>