<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Learning</title>
    <div th:replace="fragment/fragment.html :: imports"></div>

    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script src="/js/ImageSlider.js"></script>
    <script src="/js/CardSlider.js"></script>

    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body class="container">
    <div th:replace="fragment/navbar/navbar.html :: navbar"></div>

    <div th:replace="fragment/flushAlter/flushAlter.html :: flushAlter"></div>

    <!-- 이미지 슬라이더 start -->
    <div class="image-slider-container" id="image-slider">
        <ol class="image-slider-bar-container" id="image-slider-bar-container">
            <li class="image-slider-bar active"></li>
            <li class="image-slider-bar"></li>
            <li class="image-slider-bar"></li>
            <li class="image-slider-bar"></li>
        </ol>

        <div class="image-slider-items-container" id="image-slider-items-container">
            <div class="image-slider-items" id="image-slider-items">
                <div class="image-slider-item">
                    <a href="#"><img src="/images/view_1.jpg" alt="event_1"></a>
                </div>
                <div class="image-slider-item">
                    <a href="#"><img src="/images/view_2.jpg" alt="event_2"></a>
                </div>
                <div class="image-slider-item">
                    <a href="#"><img src="/images/view_3.jpg" alt="event_3"></a>
                </div>
                <div class="image-slider-item">
                    <a href="#"><img src="/images/view_4.jpg" alt="event_3"></a>
                </div>
            </div>
        </div>

        <div class="image-slider-control-prev" id="image-slider-prev"><p></p></div>
        <div class="image-slider-control-next" id="image-slider-next"><p></p></div>
    </div>
    <!-- 이미지 슬라이더 end -->

    <!-- 검색 start -->
    <div class="search-container">
        <form class="form search-container-form" action="#" th:action="@{/search/learning}" method="get">
            <input type="text" placeholder="무엇을 학습하고 싶으신가요?" name="keyword" />
            <button class="button" type="submit">검색</button>
        </form>
    </div>
    <!-- 검색 end -->

    <!-- 추천 강의 start -->
    <div class="learning-container">
        <p class="learning-main-title" sec:authorize="!isAuthenticated()">추천 강의</p>
        <p class="learning-main-title" sec:authorize="isAuthenticated()">
            <span sec:authentication="name">Anonymous</span>의 추천 강의!
        </p>

        <!--강의가 존재할 경우-->
        <div class="learning-item-container" th:if="${!learningList.isEmpty()}" id="recommend-learning-item-container">
            <div class="learning-item-wrapper" id="recommend-learning-item-wrapper">
                <div class="learning-item" th:each="learning : ${learningList}">
                    <div class="learning-item-card">
                        <img class="learning-item-card-image" th:if="${learning.bannerBytes} != null" th:src="|data:image/*;base64,${learning.bannerBytes}|" th:alt="${learning.title}" />
                        <img class="learning-item-card-image" th:if="${learning.bannerBytes} == null" src="/images/rogo.png" alt="기본 배너 이미지" />
                        <div class="learning-item-card-body">
                            <p class="learning-item-card-body-title" th:text="${learning.title}">Default Title</p>
                            <p class="learning-item-card-body-tags">
                                <i class="fas fa-tasks"></i>
                                <span th:each="tag : ${learning.tags}">
                                    <span th:text="${tag.getTitle()}"></span>
                                </span>
                            </p>
                            <p class="learning-item-card-body-rating">
                                <span class="full-star star" th:each="num : ${#numbers.sequence(0, learning.getRating_int() - 1)}" th:if="${learning.getRating_int() > 0}">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="half-star star" th:if="${learning.checkRating_boolean()}">
                                    <i class="fas fa-star-half-alt"></i>
                                </span>
                                <span class="empty-star star" th:each="num : ${#numbers.sequence(1, learning.emptyRating())}" th:if="${learning.emptyRating() > 0}">
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="learning-item-card-body-rating-number">(<span th:text="${learning.rating}"></span>)</span>
                            </p>
                            <div class="learning-item-card-body-price">
                                <div th:if="${!learning.price_comma().equals('free')}"><span th:text="${learning.price_comma()}"></span>원</div>
                                <div th:if="${learning.price_comma().equals('free')}"><span></span>무료 강의</div>
                            </div>
                            <div class="learning-item-card-body-opening">
                                <div class="date-time" th:text="${learning.openLearning}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 강의가 존재하지 않을 경우 -->
        <div class="learning-item" th:if="${learningList.isEmpty()}">
            <div class="learning-item-card">
                <img class="learning-item-card-image" src="/images/rogo.png" alt="anonymous"/>
                <div class="learning-item-card-body">
                    <p class="learning-item-card-body-title">강의가 존재하지 않습니다.</p>
                    <p class="learning-item-card-body-tags">태그가 존재하지 않습니다.</p>
                    <div class="learning-item-card-body-price">
                        <span>강의가 존재하지 않습니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 추천 강의 end -->

    <!-- 신규 강의 start -->
    <div class="learning-container">
        <p class="learning-main-title">신규 강의!</p>

        <!--강의가 존재할 경우-->
        <div class="learning-item-container" th:if="${!learningOrderByDatetime.isEmpty()}" id="new-learning-item-container">
            <div class="learning-item-wrapper" id="new-learning-item-wrapper">
                <div class="learning-item" th:each="learning : ${learningList}">
                    <div class="learning-item-card">
                        <img class="learning-item-card-image" th:if="${learning.bannerBytes} != null" th:src="|data:image/*;base64,${learning.bannerBytes}|" th:alt="${learning.title}" />
                        <img class="learning-item-card-image" th:if="${learning.bannerBytes} == null" src="/images/rogo.png" alt="기본 배너 이미지" />
                        <div class="learning-item-card-body">
                            <p class="learning-item-card-body-title" th:text="${learning.title}">Default Title</p>
                            <p class="learning-item-card-body-tags">
                                <i class="fas fa-tasks"></i>
                                <span th:each="tag : ${learning.tags}">
                                    <span th:text="${tag.getTitle()}"></span>
                                </span>
                            </p>
                            <p class="learning-item-card-body-rating">
                                <span class="full-star star" th:each="num : ${#numbers.sequence(0, learning.getRating_int() - 1)}" th:if="${learning.getRating_int() > 0}">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="half-star star" th:if="${learning.checkRating_boolean()}">
                                    <i class="fas fa-star-half-alt"></i>
                                </span>
                                <span class="empty-star star" th:each="num : ${#numbers.sequence(1, learning.emptyRating())}" th:if="${learning.emptyRating() > 0}">
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="learning-item-card-body-rating-number">(<span th:text="${learning.rating}"></span>)</span>
                            </p>
                            <div class="learning-item-card-body-price">
                                <div th:if="${!learning.price_comma().equals('free')}"><span th:text="${learning.price_comma()}"></span>원</div>
                                <div th:if="${learning.price_comma().equals('free')}"><span></span>무료 강의</div>
                            </div>
                            <div class="learning-item-card-body-opening">
                                <div class="date-time" th:text="${learning.openLearning}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 강의가 존재하지 않을 경우 -->
        <div class="learning-item" th:if="${learningOrderByDatetime.isEmpty()}">
            <div class="learning-item-card">
                <img class="learning-item-card-image" src="/images/rogo.png" alt="anonymous"/>
                <div class="learning-item-card-body">
                    <p class="learning-item-card-body-title">강의가 존재하지 않습니다.</p>
                    <p class="learning-item-card-body-tags">태그가 존재하지 않습니다.</p>
                    <div class="learning-item-card-body-price">
                        <span>강의가 존재하지 않습니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 신규 강의 end -->

    <div th:replace="fragment/footer/footer.html :: footer"></div>

    <script type="application/javascript">
        window.addEventListener("DOMContentLoaded", () => {
            ImageSlider.init();
            CardSlider('recommend-learning-item-container', 'recommend-learning-item-wrapper');
            CardSlider('new-learning-item-container', 'new-learning-item-wrapper');

            moment.locale('ko');
            $(".date-time").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LL");
            })
        })
    </script>
</body>
</html>