<main class="learning-search-container">
  <!-- left menu start -->
  <div class="learning-search-menu-container" id="learning-search-container">
    <div class="learning-search-menu-accordion" th:each="mainMenu : ${mainMenuList}">
      <p class="learning-search-menu-accordion-trigger" th:text="${mainMenu.name}"></p>

      <div class="learning-search-menu-accordion-details hide">
        <a class="learning-search-menu-accordion-details-menu"
           th:each="subMenu : ${subMenuMap[mainMenu.url]}" th:href="@{${subMenu.url}}" th:text="${subMenu.name}">
        </a>
      </div>
    </div>
  </div>
  <!-- left menu end -->

  <!-- right content start -->
  <div class="learning-contents-container">
    <form class="form learning-contents-form" action="#" method="POST" id="learning-contents-form">
      <input type="text" placeholder="강의 검색하기">
      <button class="button" type="submit">검색</button>
    </form>

    <hr class="learning-contents-line"/>

    <div class="learning-contents-wrapper-header">
      <div class="learning-contents-wrapper-header-left">
        <a class="learning-contents-wrapper-header-left-title" th:href="@{/learning/search/${mainCategory}}" th:text="${mainCategory}"></a>
      </div>

      <div class="learning-contents-wrapper-header-right">
        <div class="learning-contents-wrapper-header-right-type-wrapper">
          <div class="learning-contents-wrapper-header-right-type-details">
            <i class="fas fa-list-ul" style="color: floralwhite"></i>
          </div>
          <div class="learning-contents-wrapper-header-right-type-cards active">
            <i class="fas fa-th" style="color: floralwhite"></i>
          </div>
        </div>

        <div class="learning-contents-wrapper-header-right-sort-wrapper">
          <input type="hidden" th:value="${subCategory}" id="beforeSubCategory">
          <label for="learning-contents-wrapper-header-right-sort"></label>
          <select id="learning-contents-wrapper-header-right-sort">
            <option value="openingDate">최신순</option>
            <option value="rating">평점순</option>
          </select>
        </div>
      </div>
    </div>

    <div class="learning-contents-body-wrapper">
      <div class="learning-contents-body-card-wrapper">
        <div class="learning-contents-body-card" th:each="learning : ${learningList}">
          <a href="#" th:href="@{'/learning/' + ${learning.id}}">
            <img class="learning-contents-body-card-image" th:src="${learningImageMap[learning.id][0]}" th:alt="${learningImageMap[learning.id][1]}" />
            <div class="learning-contents-body-card-description-wrapper">
              <p class="learning-contents-body-card-description-title" th:text="${learning.title}">Default Title</p>
              <p class="learning-contents-body-card-description-tag-wrapper">
                <i class="fas fa-tasks"></i>
                <span th:each="tag : ${learning.tags}">
                                        <span th:text="${tag.getTitle()}"></span>
                                    </span>
              </p>
              <p class="learning-contents-body-card-description-rating">
                                    <span class="full-star star" th:each="num : ${#numbers.sequence(0, learning.getRatingInt() - 1)}" th:if="${learning.getRatingInt() > 0}">
                                        <i class="fas fa-star"></i>
                                    </span>
                <span class="half-star star" th:if="${learning.checkRatingBoolean()}">
                                        <i class="fas fa-star-half-alt"></i>
                                    </span>
                <span class="empty-star star" th:each="num : ${#numbers.sequence(1, learning.emptyRating())}" th:if="${learning.emptyRating() > 0}">
                                        <i class="far fa-star"></i>
                                    </span>
                <span class="learning-contents-body-card-description-rating-number">(<span th:text="${learning.rating}"></span>)</span>
              </p>
              <div class="learning-contents-body-card-description-price">
                <div th:if="${!learning.priceComma().equals('free')}"><span th:text="${learning.priceComma()}"></span>원</div>
                <div th:if="${learning.priceComma().equals('free')}"><span></span>무료 강의</div>
              </div>
              <div class="learning-contents-body-card-description-opening date-time" th:text="${learning.openingDate}"></div>
            </div>
          </a>
        </div>
      </div>

      <!-- pagination -->
      <section class="pagination-container">
        <div class="pagination-wrapper">
          <a class="pagination-item" th:classappend="${!pageableLearning.hasPrevious()}? disabled"
             href="#" th:href="@{${paginationUrl} + ${pageableLearning.getNumber() - 1}}">
            Previous
          </a>

          <a class="pagination-item" href="#" th:href="@{${paginationUrl} + ${num}}" th:text="${num + 1}"
             th:classappend="${num == pageableLearning.getNumber()}? active"
             th:each="num : ${#numbers.sequence(0, pageableLearning.getTotalPages() -1)}">
          </a>

          <a class="pagination-item" th:classappend="${!pageableLearning.hasNext()}? disabled"
             href="#" th:href="@{${paginationUrl} + ${pageableLearning.getNumber() + 1}}">
            Next
          </a>
        </div>
      </section>
    </div>
  </div>
  <!-- right content start -->
</main>

<script type="application/javascript">
  window.addEventListener("DOMContentLoaded", () => {
    const menuContainerEl = document.getElementById("learning-search-container");
    menuContainerEl.addEventListener("click", e => {
      let targetEl = e.target;

      for (let i = 0; i < 3; i++) {
        if (targetEl.classList.contains("learning-search-menu-accordion")) {
          break;
        } else {
          targetEl = targetEl.parentNode;
        }
      }

      targetEl.querySelector(".learning-search-menu-accordion-details").classList.toggle("hide");
    })

    const pathName = window.location.pathname;
    const targetEls = document.querySelectorAll("#learning-search-container .learning-search-menu-accordion");
    if (pathName.includes("learning")) {
      targetEls[0].querySelector(".learning-search-menu-accordion-details").classList.remove("hide");

      const detailEls = targetEls[0].querySelectorAll(".learning-search-menu-accordion-details-menu");
      if (pathName.includes("all")) {
        detailEls[0].classList.add("active");
      } else if (pathName.includes("web")) {
        detailEls[1].classList.add("active");
      } else if (pathName.includes("algorithm")) {
        detailEls[2].classList.add("active");
      }
    } else if (pathName.includes("community")) {
      targetEls[1].querySelector(".learning-search-menu-accordion-details").classList.remove("hide");

      const detailEls = targetEls[1].querySelectorAll(".learning-search-menu-accordion-details-menu");
      if (pathName.includes("1")) {
        detailEls[0].classList.add("active");
      } else if (pathName.includes("2")) {
        detailEls[1].classList.add("active");
      } else if (pathName.includes("3")) {
        detailEls[2].classList.add("active");
      }
    }

    moment.locale('ko');
    $(".date-time").text(function (index, dateTime) {
      return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LL");
    })

    const searchFormEl = document.getElementById("learning-contents-form");
    searchFormEl.addEventListener("submit", e => {
      e.preventDefault();

      drawContext(window.location.pathname, searchFormEl.querySelector("input").value);
    });

    const sortSelectBoxEl = document.getElementById("learning-contents-wrapper-header-right-sort");
    sortSelectBoxEl.addEventListener("change", e => {
      const url = `${window.location.pathname}?sort=${e.target.value},desc`;
      const keyword = document.getElementById("beforeSubCategory").value;

      drawContext(url, keyword);
    });
  })

  function drawContext(url, keyword) {
    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    fetch(url, {
      method: "POST",
      body: keyword,
      headers: {
        [csrfHeader]: csrfToken
      }
    })
            .then(res => res.json())
            .then(json => {
              console.log(json);
            })
            .catch(err => {
              console.error(err);
            })
  }
</script>