<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<main class="home-container">
  <div th:replace="layout/fragment.html :: flushMessage"></div>

  <!-- 이미지 슬라이더 start -->
  <div class="image-slider-container" id="image-slider">
    <ol class="image-slider-bar-container" id="image-slider-bar-container">
      <li class="image-slider-bar active"></li>
      <li class="image-slider-bar"></li>
      <li class="image-slider-bar"></li>
      <li class="image-slider-bar"></li>
    </ol>

    <div class="image-slider-items-container" id="image-slider-items-container">
      <div class="image-slider-items" id="image-slider-items">
        <div class="image-slider-item">
          <a href="#"><img src="/images/view_1.jpg" alt="event_1"></a>
        </div>
        <div class="image-slider-item">
          <a href="#"><img src="/images/view_2.jpg" alt="event_2"></a>
        </div>
        <div class="image-slider-item">
          <a href="#"><img src="/images/view_3.jpg" alt="event_3"></a>
        </div>
        <div class="image-slider-item">
          <a href="#"><img src="/images/view_4.jpg" alt="event_3"></a>
        </div>
      </div>
    </div>

    <div class="image-slider-control-prev" id="image-slider-prev"><p></p></div>
    <div class="image-slider-control-next" id="image-slider-next"><p></p></div>
  </div>
  <!-- 이미지 슬라이더 end -->

  <!-- 검색 start -->
  <div class="search-container">
    <form class="form search-container-form" action="#" method="GET" id="main-search-bar">
      <input type="text" placeholder="무엇을 학습하고 싶으신가요?" name="keyword" />
      <button class="button" type="submit">검색</button>
    </form>
  </div>
  <!-- 검색 end -->

  <!-- 추천 강의 start -->
  <div class="learning-container">
    <p class="learning-main-title" sec:authorize="!isAuthenticated()">추천 강의</p>
    <p class="learning-main-title" sec:authorize="isAuthenticated()">
      <span sec:authentication="name">Anonymous</span>의 추천 강의!
    </p>

    <!--강의가 존재할 경우-->
    <div class="learning-item-container" th:if="${!learningList.isEmpty()}" id="recommend-learning-item-container">
      <div class="learning-item-wrapper" id="recommend-learning-item-wrapper">
        <div class="learning-item" th:each="learning : ${learningList}">
          <div class="learning-item-card" th:data-learning-id="${learning.id}">
            <a class="learning-item-card-anchor" th:href="@{'/learning/' + ${learning.id}}">
              <img class="learning-item-card-image" th:src="${learningImageMap[learning.id][0]}" th:alt="${learningImageMap[learning.id][1]}" />
              <div class="learning-item-card-body">
                <p class="learning-item-card-body-title" th:text="${learning.title}"></p>
                <p class="learning-item-card-body-tags">
                  <i class="fas fa-tasks"></i>
                  <span th:each="tag : ${learning.tags}">
                      <span th:text="${tag.getTitle()}"></span>
                  </span>
                </p>
                <p class="learning-item-card-body-rating">
                  <span class="full-star star" th:each="num : ${#numbers.sequence(0, learning.getRatingInt() - 1)}" th:if="${learning.getRatingInt() > 0}">
                      <i class="fas fa-star"></i>
                  </span>
                  <span class="half-star star" th:if="${learning.checkRatingBoolean()}">
                      <i class="fas fa-star-half-alt"></i>
                  </span>
                  <span class="empty-star star" th:each="num : ${#numbers.sequence(1, learning.emptyRating())}" th:if="${learning.emptyRating() > 0}">
                      <i class="far fa-star"></i>
                  </span>
                  <span class="learning-item-card-body-rating-number">(<span th:text="${learning.rating}"></span>)</span>
                </p>
                <div class="learning-item-card-body-price">
                  <div th:if="${!learning.priceComma().equals('free')}"><span th:text="${learning.priceComma()}"></span>원</div>
                  <div th:if="${learning.priceComma().equals('free')}"><span></span>무료 강의</div>
                </div>
                <div class="learning-item-card-body-opening">
                  <div class="date-time" th:text="${learning.openingDate}"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- 강의가 존재하지 않을 경우 -->
    <div class="learning-item" th:if="${learningList.isEmpty()}">
      <div class="learning-item-card">
        <img class="learning-item-card-image" src="/images/logo.png" alt="anonymous"/>
        <div class="learning-item-card-body">
          <p class="learning-item-card-body-title">강의가 존재하지 않습니다.</p>
          <p class="learning-item-card-body-tags">태그가 존재하지 않습니다.</p>
          <div class="learning-item-card-body-price">
            <span>강의가 존재하지 않습니다.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 추천 강의 end -->

  <!-- 신규 강의 start -->
  <div class="learning-container">
    <p class="learning-main-title">신규 강의!</p>

    <!--강의가 존재할 경우-->
    <div class="learning-item-container" th:if="${!newLearningList.isEmpty()}" id="new-learning-item-container">
      <div class="learning-item-wrapper" id="new-learning-item-wrapper">
        <div class="learning-item" th:each="learning : ${newLearningList}">
          <div class="learning-item-card">
            <a class="learning-item-card-anchor" th:href="@{'/learning/' + ${learning.id}}">
              <img class="learning-item-card-image" th:src="${newLearningImageMap[learning.id][0]}" th:alt="${newLearningImageMap[learning.id][1]}" />
              <div class="learning-item-card-body">
                <p class="learning-item-card-body-title" th:text="${learning.title}"></p>
                <p class="learning-item-card-body-tags">
                  <i class="fas fa-tasks"></i>
                  <span th:each="tag : ${learning.tags}">
                                          <span th:text="${tag.getTitle()}"></span>
                                      </span>
                </p>
                <p class="learning-item-card-body-rating">
                                      <span class="full-star star" th:each="num : ${#numbers.sequence(0, learning.getRatingInt() - 1)}" th:if="${learning.getRatingInt() > 0}">
                                          <i class="fas fa-star"></i>
                                      </span>
                  <span class="half-star star" th:if="${learning.checkRatingBoolean()}">
                                          <i class="fas fa-star-half-alt"></i>
                                      </span>
                  <span class="empty-star star" th:each="num : ${#numbers.sequence(1, learning.emptyRating())}" th:if="${learning.emptyRating() > 0}">
                                          <i class="far fa-star"></i>
                                      </span>
                  <span class="learning-item-card-body-rating-number">(<span th:text="${learning.rating}"></span>)</span>
                </p>
                <div class="learning-item-card-body-price">
                  <div th:if="${!learning.priceComma().equals('free')}"><span th:text="${learning.priceComma()}"></span>원</div>
                  <div th:if="${learning.priceComma().equals('free')}"><span></span>무료 강의</div>
                </div>
                <div class="learning-item-card-body-opening">
                  <div class="date-time" th:text="${learning.openingDate}"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- 강의가 존재하지 않을 경우 -->
    <div class="learning-item" th:if="${newLearningList.isEmpty()}">
      <div class="learning-item-card">
        <img class="learning-item-card-image" src="/images/logo.png" alt="anonymous"/>
        <div class="learning-item-card-body">
          <p class="learning-item-card-body-title">강의가 존재하지 않습니다.</p>
          <p class="learning-item-card-body-tags">태그가 존재하지 않습니다.</p>
          <div class="learning-item-card-body-price">
            <span>강의가 존재하지 않습니다.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 신규 강의 end -->

  <script type="application/javascript">
    window.addEventListener("DOMContentLoaded", () => {
      ImageSlider.init();
      CardSlider('recommend-learning-item-container', 'recommend-learning-item-wrapper');
      CardSlider('new-learning-item-container', 'new-learning-item-wrapper');

      moment.locale('ko');
      $(".date-time").text(function (index, dateTime) {
        return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LL");
      })

      document.getElementById('main-search-bar').addEventListener("submit", e => {
        const targetEl = e.target;
        const inputEl = targetEl.querySelector("input");
        const value = inputEl.value;

        if (value.length <= 0) {
          e.preventDefault();
          return false;
        }

        targetEl.action = '/learning/search/all?keyword=' + value;
      })
    })
  </script>
</main>
</html>
