<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout.html :: head">
    <title>Blank</title>
</head>

<section>
    <script src="/js/ImageSlider.js"></script>
    <script src="/js/CardSlider.js"></script>

    <link rel="stylesheet" href="/css/home/index.css"/>
</section>

<body class="container">
    <div th:replace="layout/layout.html :: body(pageContent='home/homeContents')"></div>
</body>

</html>