<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<section>
    <link rel="stylesheet" href="/css/profile/learning/index.css">
</section>

<div class="profile-learning-container">
    <p class="profile-title">수강중인 목록</p>

    <!--강의가 존재할 경우 start-->
    <div class="profile-learning-item-container" th:if="${!learningList.isEmpty()}">
        <div class="profile-learning-item" th:each="learning : ${learningList}">
            <div class="profile-learning-item-card" th:data-learning-id="${learning.id}">
                <a class="profile-learning-item-card-anchor" th:href="@{'/learning/' + ${learning.id}}">
                    <img class="profile-learning-item-card-image" th:src="${learningImageMap[learning.id][0]}" th:alt="${learningImageMap[learning.id][1]}" />
                    <div class="profile-learning-item-card-body">
                        <p class="profile-learning-item-card-body-title" th:text="${learning.title}"></p>
                        <p class="profile-learning-item-card-body-tags">
                            <i class="fas fa-tasks"></i>
                            <span th:each="tag : ${learning.tags}">
                                <span th:text="${tag.getTitle()}"></span>
                            </span>
                        </p>
                        <p class="profile-learning-item-card-body-rating">
                           <span class="full-star star" th:each="num : ${#numbers.sequence(0, learning.getRatingInt() - 1)}" th:if="${learning.getRatingInt() > 0}">
                               <i class="fas fa-star"></i>
                           </span>
                           <span class="half-star star" th:if="${learning.checkRatingBoolean()}">
                                <i class="fas fa-star-half-alt"></i>
                            </span>
                            <span class="empty-star star" th:each="num : ${#numbers.sequence(1, learning.emptyRating())}" th:if="${learning.emptyRating() > 0}">
                                <i class="far fa-star"></i>
                            </span>
                            <span class="profile-learning-item-card-body-rating-number">(<span th:text="${learning.rating}"></span>)</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--강의가 존재할 경우 end-->

    <!--강의가 존재하지 않을 경우 start-->
    <p class="profile-learning-item-empty-title" th:if="${learningList.isEmpty()}">구매한 강의가 존재하지 않습니다.</p>
    <!--강의가 존재하지 않을 경우 end-->
</div>

<script type="application/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        moment.locale('ko');
        $(".date-time").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LL");
        })
    })
</script>
</html>