<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<main class="cart-cancel-container">
    <div class="cart-cancel-item-container">
        <p class="cart-cancel-item-title">취소완료</p>

        <div class="cart-cancel-item-wrapper">
            <div class="cart-cancel-item" th:each="learning : ${learningList}" th:data-learning-id="${learning.id}">
                <a class="cart-cancel-item-anchor" href="#" th:href="@{'/learning/' + ${learning.id}}">
                    <img class="cart-cancel-item-banner" th:src="${learningImageMap[learning.id][0]}" th:alt="${learningImageMap[learning.id][1]}"/>
                    <div class="cart-cancel-item-info-wrapper">
                        <p class="cart-cancel-item-info-title">
                            강의: <span th:text="${learning.title}"></span>
                        </p>
                        <p class="cart-cancel-item-info-price" th:if="${!learning.priceComma().equals('free')}">
                            가격: <span th:text="${learning.priceComma()}"></span>원
                        </p>
                        <p class="cart-cancel-item-info-price" th:if="${learning.priceComma().equals('free')}">
                            가격: <span>무료 강의</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--강의 항목들-->

    <div class="cart-cancel-info-container">
        <p class="cart-cancel-info-title">결제 내용</p>

        <div class="cart-cancel-info-detail-container">
            <p>결제: <span class="date-time" th:text="${approvedAt}"></span></p>
            <p>결제취소: <span class="date-time" th:text="${canceledAt}"></span></p>
            <p>주문번호: <span th:text="${orderId}"></span> </p>
            <p>상품명: <span th:text="${itemName}"></span></p>
            <p>상품수량: <span th:text="${quantity}"></span></p>
            <p>결제금액: <span th:text="${amountTotal}"></span>(부가세: <span th:text="${amountVat}"></span>원)</p>
            <p>취소금액: <span th:text="${canceledAmountTotal}"></span>(부가세: <span th:text="${canceledAmountVat}"></span>원)</p>
            <p>결제방법: <span th:text="${paymentType}"></span></p>
        </div>
    </div>
    <!--취소 정보-->
</main>

<script type="application/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        moment.locale('ko');
        $(".date-time").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LLLL");
        })
    })
</script>
</html>