.question-container {
    position: relative;
    padding: 1.25rem 0;
    min-height: calc(100vh - 60px - 180px);
}

.question-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.question-description {

}