<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="imports">
    <script src="https://kit.fontawesome.com/d460620ffc.js" crossorigin="anonymous"></script>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-form/dist/jquery.form.min.js"></script>
    <script src="/node_modules/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>

    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.3.0/dist/jdenticon.min.js" async-->
    <!--            integrity="sha384-LfouGM03m83ArVtne1JPk926e3SGD0Tz8XHtW2OKGsgeBU/UfR0Fa8eX+UlwSSAZ"-->
    <!--            crossorigin="anonymous">-->
    <!--    </script>-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/tooltipster/dist/css/tooltipster.bundle.min.css"/>

    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
</div>

<div class="profile-bar-container" id="profile-bar-container" th:fragment="profile-bar">
    <link rel="stylesheet" href="/css/profileBar.css"/>

    <a th:href="@{'/profile/' + ${account.id}}">
        <p class="profile-bar-menu">
            대시보드
        </p>
    </a>

    <a href="/profile/notification">
        <p class="profile-bar-menu">
            알람
        </p>
    </a>

    <a href="/profile/learning">
        <p class="profile-bar-menu">
            내 학습
        </p>
    </a>

    <a th:href="@{'/profile/' + ${account.id} + '/custom'}">
        <p class="profile-bar-menu">
            설정
        </p>
    </a>

    <div class="profile-bar-menu-accordion" id="profile-bar-menu-accordion" th:if="${account.professionalAccount != null}">
        <div>
            <p class="profile-bar-menu-accordion-trigger">
                업로드
            </p>
        </div>

        <div class="profile-bar-menu-accordion-details hide" id="profile-bar-menu-accordion-details">
            <a href='/profile/learning/create'>
                <p class="profile-bar-menu-accordion-details-menu">
                    강의 개설
                </p>
            </a>

            <a href="/profile/learning/list">
                <p class="profile-bar-menu-accordion-details-menu">
                    강의 영상 업로드
                </p>
            </a>
        </div>
    </div>

    <script type="application/javascript">
        window.addEventListener("DOMContentLoaded", () => {
            const accordionEl = document.getElementById("profile-bar-menu-accordion");
            accordionEl.addEventListener("click", (e) => {
                document.getElementById("profile-bar-menu-accordion-details").classList.toggle("hide");
            });

            const dashboardRegex = /^\/profile\/\d+$/;
            const settingRegex = /^\/profile\/\d+\/custom$/;
            const pathName = window.location.pathname;
            const menuEls = document.getElementById("profile-bar-container").querySelectorAll(".profile-bar-menu");
            if (dashboardRegex.test(pathName)) {
                menuEls[0].classList.add("active");
            } else if (pathName === "/profile/notification") {
                menuEls[1].classList.add("active");
            } else if (pathName === "/profile/learning") {
                menuEls[2].classList.add("active");
            } else if (settingRegex.test(pathName)) {
                menuEls[3].classList.add("active");
            } else if (pathName === "/profile/learning/create") {
                document.getElementById("profile-bar-container").querySelectorAll(".profile-bar-menu-accordion-details-menu")[0].classList.add("active");
                document.getElementById("profile-bar-menu-accordion-details").classList.remove("hide");
            } else if (pathName === "/profile/learning/list") {
                document.getElementById("profile-bar-container").querySelectorAll(".profile-bar-menu-accordion-details-menu")[1].classList.add("active");
                document.getElementById("profile-bar-menu-accordion-details").classList.remove("hide");
            }
        });
    </script>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function (){
        'use strict';

        window.addEventListener('load', function(){
            [...document.querySelectorAll(".needs-validation")].filter(form => {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();

                        form.classList.add('was-validated'); // css 동작 트리거
                    }
                }, false)
            });
        },false)
    }())
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="csrf-code">
    window.addEventListener("DOMContentLoaded", () => {
        // 일반적인 Form 으로 요청을 보낼 때 csrf 에러가 날 경우 토큰값을 같이 실어서 보내줌.
        // 상식적으로 동작 시킬때 중간에 가져와서 token 값을 헤더에 실어서 보내줘야할거 같은데 지금 개같이 보내는중임
        const csrfToken = /*[[${_csrf.token}]]*/ null;
        const csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

</html>