<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사이트 알림 메일</title>
</head>
<body>

<div>
    <p>안녕하세요. <span th:text="${nickname}"></span>님</p>
    <h2 th:text="${message}">default Message</h2>

    <div>
        <a th:href="${host} + ${link}" th:text="${linkName}"></a>
        <p>상단의 링크가 동작하지 않을 경우 하단의 주소를 주소창에 복사 붙여 넣어주세요.</p>
        <small th:text="${host} + ${link}"></small>
    </div>
</div>

<footer>
    <small>&copy; 2020-2021</small>
</footer>


</body>
</html>