<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout.html :: head(pageTitle='오류 페이지')">
    <title>Blank</title>
</head>
<link rel="stylesheet" href="/css/error/index.css"/>

<body class="container">
    <header th:replace="layout/fragment.html :: navbar"></header>

    <div class="error-container">
        <a class="error-logo" href="/">
            <img src="/images/logo.png" width="120" height="120" alt="logo">
        </a>

        <div class="error-description-wrapper">
            <div class="error-description">
                <p class="custom-p-ling">서버 오류 5xx Error</p>
            </div>

            <div class="error-description-copywriter" id="error-description-copywriter">
                © 2020-<span>2021</span>
            </div>
        </div>
    </div>

    <footer th:replace="layout/fragment.html :: footer"></footer>
</body>

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        const yearEl = document.querySelector("#error-description-copywriter span");
        const now = new Date();
        yearEl.textContent = now.getFullYear();
    })
</script>
</html>


