<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="${pageTitle}">Title</title>

    <script src="https://kit.fontawesome.com/d460620ffc.js" crossorigin="anonymous"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-form/dist/jquery.form.min.js"></script>
    <script src="/node_modules/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/tooltipster/dist/css/tooltipster.bundle.min.css"/>

    <link rel="stylesheet" href="/css/layout/common.css"/>
    <link rel="stylesheet" href="/css/layout/navbar.css"/>
    <link rel="stylesheet" href="/css/layout/footer.css"/>
    <link rel="stylesheet" href="/css/layout/pagination.css"/>
</head>

<body class="container">
    <!-- 상단 바 -->
    <header class="navbar-container">
        <div class="navbar-left-container">
            <a class="navbar-logo" href="#" th:href="@{/}">
                <img src="/images/rogo.png" class="navbar-logo-image" alt="">
                <span class="navbar-logo-context">커뮤니티</span>
            </a>

            <div class="navbar-menu-items">
                <ul class="navbar-menu-item-ul">
                    <li class="navbar-menu-item-dropdown navbar-mr pointer" th:each="mainMenu : ${mainMenuList}">
                        <p class="navbar-menu-item-title" th:text="${mainMenu.name}">
                            강의 이름
                        </p>
                        <div class="navbar-menu-item-dropdown-details hide">
                            <a class="navbar-menu-item-dropdown-details-item" href="#" th:each="subMenu : ${subMenuMap[mainMenu.url]}" th:href="@{${subMenu.url}}" th:text="${subMenu.name}">서브 강의 이름</a>
                        </div>
                    </li>

                    <li class="navbar-mr">
                        <a class="navbar-menu-item-title" href="#">로드맵</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="navbar-right-container">
            <div class="navbar-menu-image">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="navbar-menu-items">
                <form class="form navbar-mr" action="#" method="GET" id="global-search-bar">
                    <input name="keyword" type="text" placeholder="강의 검색하기" />
                </form>

                <form class="form navbar-mr" action="#" sec:authorize="isAuthenticated()" th:action="@{'/profile/' + ${account.id}}">
                    <button class="button" type="submit">대시보드</button>
                </form>

                <ul class="navbar-menu-item-ul">
                    <li class="navbar-mr" sec:authorize="!isAuthenticated()">
                        <a class="navbar-menu-item-title" href="#" th:href="@{/register}">회원가입</a>
                    </li>
                    <li class="navbar-mr" sec:authorize="!isAuthenticated()">
                        <a class="navbar-menu-item-title" href="#" th:href="@{/login}" >로그인</a>
                    </li>
                    <li class="navbar-mr" sec:authorize="isAuthenticated()">
                        <a class="navbar-menu-item-title" href="#" th:href="@{/cart/buy}">장바구니</a>
                    </li>

                    <li class="nav-bell-container" sec:authorize="isAuthenticated()">
                        <a class="nav-bell" href="#" th:href="@{'/profile/notification'}">
                            <i class="far fa-bell" th:if="${!hasNotification}"></i>
                            <span class="text-info" th:if="${hasNotification}"><i class="fas fa-bell"></i></span>
                        </a>
                    </li>

                    <li class="navbar-menu-item-dropdown arrow-rotate pointer" sec:authorize="isAuthenticated()" id="profile-menu">
                        <a class="navbar-menu-item-title" href="#">
                            <svg class="navbar-menu-item-profile" th:data-jdenticon-value="${#authentication.name}" width="20" height="20"></svg>
                            <span class="navbar-menu-item-arrow"><i class="fa-solid fa-greater-than"></i></span>
                        </a>

                        <div class="navbar-menu-item-dropdown-details hide">
                            <h6 class="navbar-menu-item-dropdown-details-title" sec:authentication="name">Anonymous</h6>
                            <a class="navbar-menu-item-dropdown-details-item" href="#" th:href="@{'/profile/' + ${account.id}}">프로필</a>
                            <a class="navbar-menu-item-dropdown-details-item" href="#" th:href="@{'/profile/' + ${account.id} + '/custom'}">설정</a>
                            <form method="post" th:action="@{/logout}">
                                <button type="submit" class="navbar-menu-item-dropdown-details-item">로그아웃</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main th:replace="${pageContent}"></main>

    <footer class="footer-container">
        <div class="footer-wrapper">
            <div class="footer-logo">
                <img src="/images/rogo.png" alt="logo">
            </div>
            <div class="footer-name">
                &copy; Learning Site By ChoiDH.
            </div>
            <div class="footer-email">
                <p>이메일: choidh.dev@gmail.com</p>
            </div>
        </div>
    </footer>

    <script type="application/javascript">
        window.addEventListener("DOMContentLoaded", () => {
            const globalSearchBarEl = document.getElementById("global-search-bar");
            globalSearchBarEl.addEventListener("submit", e => {
                const targetEl = e.target;
                const inputEl = targetEl.querySelector("input");
                const value = inputEl.value;

                if (value.length <= 0) {
                    e.preventDefault();
                    return false;
                }

                targetEl.action = '/learning/search/all?keyword=' + value;
            })
        })
    </script>
</body>
</html>