<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="${pageTitle}">Title</title>

    <script src="https://kit.fontawesome.com/d460620ffc.js" crossorigin="anonymous"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-form/dist/jquery.form.min.js"></script>
    <script src="/node_modules/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/tooltipster/dist/css/tooltipster.bundle.min.css"/>

    <link rel="stylesheet" href="/css/layout/common.css"/>
    <link rel="stylesheet" href="/css/layout/navbar.css"/>
    <link rel="stylesheet" href="/css/layout/footer.css"/>
    <link rel="stylesheet" href="/css/layout/pagination.css"/>
</head>

<body class="container">
    <!-- 상단 바 -->
    <header th:replace="layout/fragment.html :: navbar"></header>

    <main th:replace="${pageContent}"></main>

    <footer th:replace="layout/fragment.html :: footer"></footer>

    <script type="application/javascript">
        window.addEventListener("DOMContentLoaded", () => {
            const globalSearchBarEl = document.getElementById("global-search-bar");
            globalSearchBarEl.addEventListener("submit", e => {
                const targetEl = e.target;
                const inputEl = targetEl.querySelector("input");
                const value = inputEl.value;

                if (value.length <= 0) {
                    e.preventDefault();
                    return false;
                }

                targetEl.action = '/learning/search/all?keyword=' + value;
            })

            // 플로팅 메시지 띄우기
            function floatMessage(message) {
                document.getElementById("toast-message-context").textContent = message;
                const containerEl = document.getElementById("toast-message-container");
                containerEl.classList.remove("hide");

                // 3초 후 자동 종료
                setTimeout(() => containerEl.classList.add("hide"), 3000);
            }
        })
    </script>
</body>
</html>