<link rel="stylesheet" href="/css/security/find/index.css"/>
<main class="login-container">
    <p class="login-title">계정 찾기</p>

    <!-- toast message start -->
    <div class="login-toast-message-container" id="login-toast-message-container">
        <div class="login-toast-message" th:if="${message}">
            <p th:text="${message}">이메일과 패스워드가 일치하지 않습니다.</p>
            <button type="button" class="login-toast-message-close-button" id="login-toast-message-close-button">
                <span>&times;</span>
            </button>
        </div>
    </div>
    <!-- toast message end -->

    <p th:text="${account.email}"></p>

    <a class="" href="/login">로그인</a>

    <div th:replace="fragment/fragment.html :: form-validation"></div>
</main>

<script type="application/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        // toast message button click event
        document?.getElementById("login-toast-message-close-button").addEventListener("click", () => {
            document.getElementById("login-toast-message-container").classList.add("hide");
        });
    })
</script>