.profile-content-body{
    width: 100%;
}

.profile-content-ficture{
    margin-top: 20px;
}

#new-profile-image{
    max-width: 410px;
    max-height: 200px;
}

.custom-file{
    width: 200px;
}

.current-profile-image-btn{
    margin-top: 20px;
    margin-left: 30px;
    width: 200px;
    bottom: 5px;
}

.card-body{
    padding: 0;
}

.profile-content-input{
    margin-top: 30px;
    width: 744px;
}
.alert-custom{
    height: 52px;
}

.form-control-custom{
    width: 744px;
}

.form-group{
    margin-bottom: 5px;
}

.profile-content{
    margin-top: 18px;
}

.notification-setting{
    width: 100%;
}

.notification-setting-mail {
    width: 60%;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 20px 10px;
    margin-bottom: 15px;
}

.notification-setting-notifi{
    width: 100%;
}

.card-body tags{
    border: white;
}