<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<section>
    <link rel="stylesheet" href="/css/profile/notification/index.css">
</section>

<div class="profile-notification-container">
    <p class="profile-title">알림</p>

    <div class="profile-notification-contents-wrapper" th:if="${notificationList.size() > 0}" id="profile-notification-contents-wrapper">
        <div class="profile-notification-card" th:data-notification-id="${notification.id}" th:each="notification : ${notificationList}">
            <p class="profile-notification-title" th:text="${notification.title}"></p>
            <div class="text-overflow-three" th:utext="${notification.description}"></div>
            <p class="profile-notification-card-date date-time" th:text="${notification.createdAt}"></p>
        </div>
    </div>

    <div class="profile-notification-contents-wrapper" th:if="${notificationList.size() == 0}">
        <p class="profile-notification-contents-title">읽지 않은 알람이 없어요!</p>
    </div>
</div>

<script type="application/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        moment.locale('ko');
        $(".date-time").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD'T'hh:mm").format("LL");
        })

        // 알림 부분 클릭 이벤트
        document.getElementById("profile-notification-contents-wrapper").addEventListener("click", e => {
            const [result, targetEl] = hasClass(e.target, "profile-notification-card");
            if (!result) return false;

            location.href = "/notification/" + targetEl.dataset.notificationId;
        })
    })
</script>
</html>